// 保留一位小数
function valueToFixed(value) {
    return value ? value.toFixed(1) : '';
};

// 保留整数
function parseIntValue(value) {
    return parseInt(value);
}

// 获取胜率
function getPercent(wins, losses) {
    var percent = wins / (wins + losses);
    return percent ? (percent * 100).toFixed(2) + '%' : '0%';
}

module.exports = {
    valueToFixed: valueToFixed,
    parseIntValue: parseIntValue,
    getPercent: getPercent
};